@model TodoApp.Controllers.Feladat
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Add</title>
</head>
<body>
    <div> 
@*a razor kódban a html kódban a segítséget a Html (és az Url) helper
    adja nekünk. Ez teszi lehetővé, hogy ne tiszta html kódot kelljen írnunk,
    hanem a megkapott model köré tudjuk szervezni a cshtml kódunkat.*@

@Html.ValidationSummary()
@using (Html.BeginForm())
{
    <div>
        @Html.LabelFor(m => m.Megnevezes)
    </div>
    <div>
        @Html.TextBoxFor(m => m.Megnevezes)
        @Html.ValidationMessageFor(m=>m.Megnevezes)
    </div>
    <div>
        <button>Új elem rögzítése</button>
    </div>
}

@Html.ActionLink("Mégsem", "Index")

@*<form action="/Home/Add" method="post">
    <input type="text" name="Megnevezes" value="" />
    <button>Felvitel </button>
</form>*@
    </div>
</body>
</html>



