@*itt megmondjuk, hogy milyen típusú adatot várunk az Action-től*@
@model List<TodoApp.Controllers.Feladat> 
@*
    innentől van egy olyan nevű változónk, hogy Model, és a típusa pedig List<string>
    ezzel egyenértékű, mintha létrehoztunk volna egy ilyen függvényt:
    View(List<string> Model)
*@

@{
    ViewBag.Title = "Feladatlista";
}

    <div class="row">
        <div class="col col-sm-4">
            <ul class="list-group">
                @foreach (var elem in Model)
                {
                    if (elem.Elvegezve)
                    {
                        <li class="list-group-item"><strike>@elem.Megnevezes</strike> @Html.ActionLink("Módosítás", "Edit", new { id = elem.Id }) @Html.ActionLink("Törlés", "Delete", new { id = elem.Id })</li>
                    }
                    else
                    {
                        <li class="list-group-item">@elem.Megnevezes @Html.ActionLink("Módosítás", "Edit", new { id = elem.Id }) @Html.ActionLink("Törlés", "Delete", new { id = elem.Id })</li>
                    }
                }
            </ul>
        </div>
        <div class="col col-sm-4">
            @Html.ActionLink("Új elem megadása", "Add", null, new { @class = "btn btn-warning" })
        </div>
        <div class="col col-sm-4">
            @Html.ActionLink("Új elem megadása", "Add", null, new { @class = "btn btn-warning" })
        </div>
    </div>
